* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #F4F5FC;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
}

#sign-up {
    display: flex;
    max-width: 665px;
}

#sign-up .left-block {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 137px;
    background-color: #5A61ED;
    color: #ffffff;
}

#sign-up .left-block h2 {
    font-family: 'PT Sans', sans-serif;
    font-size: 49px;
    font-weight: 400;
    transform: rotate(-90deg);
    margin-bottom: 70px;
    margin-right: -35px;
    white-space: nowrap;
}

#sign-up .right-block {
    position: relative;
    background-color: #ffffff;
    padding: 38px 22px;
}

#sign-up .right-block .background-svg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#sign-up .right-block .title {
    margin-bottom: 20px;
    position: relative;
}

#sign-up .right-block .title h5 {
    font-size: 22px;
    font-weight: 500;
}

#sign-up .right-block .title p {
    font-size: 14px;
    font-weight: 300;
}

#sign-up .right-block form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#sign-up .right-block form .input-data {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 15px;
}

#sign-up .right-block form .input-data label {
    font-weight: 300;
    font-size: 12px;
    color: #7C7C7C;
}

#sign-up .right-block form .input-data input,
#sign-up .right-block form .input-data select {
    height: 27px;
    border: 0;
    border-bottom: 1px solid #F2F2F2;
    background-color: transparent;
}

#sign-up .right-block form .input-data:nth-child(odd) {
    padding-right: 15px;
}

#sign-up .right-block form .input-data .gender-blocks {
    display: flex;
}

#sign-up .right-block form .input-data .gender-blocks .gender {
    display: flex;
    align-items: center;
}

#sign-up .right-block form .input-data .gender-blocks .gender:first-child {
    margin-right: 20px;
}

#sign-up .right-block form .input-data .gender-blocks .gender input {
    margin-right: 6px;
}

#sign-up .right-block form .input-data .gender-blocks .gender label {
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

#sign-up .right-block form .input-data input::placeholder {
    color: #000;
}

#sign-up .right-block form .input-data .birthday-selects {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sign-up .right-block form .input-data .birthday-selects select {
    margin-right: 15px;
}

#sign-up .right-block form .input-data .birthday-selects select:nth-child(1) {
    width: 25%;
}

#sign-up .right-block form .input-data .birthday-selects select:nth-child(2) {
    width: 40%;
}

#sign-up .right-block form .input-data .birthday-selects select:nth-child(3) {
    width: 35%;
    margin-right: 0;
}

#sign-up .right-block .signup-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
}

#sign-up .right-block .signup-footer .login {
    display: flex;
    align-items: center;
    font-size: 13px;
}

#sign-up .right-block .signup-footer .login span {
    font-weight: 200;
    margin-right: 5px;
}

#sign-up .right-block .signup-footer .login a {
    font-weight: 500;
}

#sign-up .right-block .signup-footer button {
    background-color: #5A61ED;
    color: #ffffff;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 0;
    padding: 7px 25px;
    transition: all 1s;
}

#sign-up .right-block .signup-footer button:hover {
    background-color: darkblue;
}

#sign-up .right-block form .input-data input:focus {
    outline: red;
}